# Environments
.env


# Project Specific: Solar Power prediction and Management system
Solar Power prediction and Management system/venv/
Solar Power prediction and Management system/__pycache__/
Solar Power prediction and Management system/solar_data/
Solar Power prediction and Management system/solar_data_2.0/
Solar Power prediction and Management system/mlruns/
Solar Power prediction and Management system/ml_outputs/
Solar Power prediction and Management system/**/*.png
Solar Power prediction and Management system/**/*.csv
Solar Power prediction and Management system/**/*.pkl
Solar Power prediction and Management system/**/*.h5
Solar Power prediction and Management system/**/*.keras
Solar Power prediction and Management system/**/*.pth
Solar Power prediction and Management system/**/*.joblib
Solar Power prediction and Management system/**/*.sqlite
Solar Power prediction and Management system/**/*.db
    

Soil_and_agri_Intelligence/**/*.pkl
Soil_and_agri_Intelligence/src/crop_recommendation/src/__pycache__/

Solar_project_trichy/backend/venv/
Solar_project_trichy/backend/__pycache__/
Solar_project_trichy/backend/**/*.csv
Solar_project_trichy/backend/**/*.pkl
Solar_project_trichy/backend/**/*.h5
Solar_project_trichy/backend/**/*.keras
Soil_project_tirchy/backend/**/*.pth
Soil_project_tirchy/backend/**/*.joblib
Soil_project_tirchy/backend/**/*.sqlite
Soil_project_tirchy/backend/**/*.db


face_dist_obj_demo_app/results/
